[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap-v5 = "*"
django-environ = "*"
psycopg = "*"
psycopg-binary = "*"
crispy = "*"
crispy-bootstrap5 = "*"
gunicorn = "*"
django-import-export = "*"
whitenoise = "*"
django-staticfiles = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
