{% extends 'base.html' %}
{% block title %}Robocup HOME{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}{{ form|crispy }}
        <p>
            Nemáte ešte účet? <a href=" {% url 'register' %}">Zaregistrujte sa tu</a>!
        </p>
        {#        <p><a href="{% url 'change-password' %}">Zabudli ste heslo ?</a></p>#}
        <input type="submit" class="btn btn-success" value="Prihlásiť sa">
    </form>
    {# Assumes you set up the password_reset view in your URLconf #}
{% endblock %}
