<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>{% block title %}RoboCup{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="container-fluid">
            <div>
              <ul class="navbar-nav">
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home" ><strong>Robocup</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/home">Domov</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/registracia">Registracia</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/vysledky">Výsledky</a>
                </li>
              </ul>
            </div>
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Prihlásiť sa</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="container">{% block content %} {% endblock %}</div>
</body>
</html>