<div class="container mt-3 visually-hidden" id="category-div">
    <h2>Kategórie</h2>
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Názov</th>
                <th scope="col">Prázdna výsledkovka</th>
                <th scope="col">Plná výsledkovka</th>
                <th scope="col">Diplomy</th>
            </tr>
        </thead>
        {% for category in categories %}
            <tbody>
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a type="button"
                           class="btn btn-success"
                           href="{% url 'download-teams-for-category' category.id %}">Prázdna vysledkovka</a>
                    </td>
                    <td>
                        <a type="button"
                           class="btn btn-success"
                           href="{% url 'upload-category-results' category.id %}">Nahraj vysledkovku</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-primary" href="#">Generuj diplomy</a>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
