{% extends 'org-panel.html' %} {% block title %}Robocup HOME{% endblock %}

{% block content %}

<body>
<p></p>
    <div class="btn-group-horizontal" role="group" aria-label="Button group">
        <button id="check_in" type="button" class="btn btn-info btn-fixed-width" href="/check_in">Check-in</button>
        <button id="categories" type="button" class="btn btn-info btn-fixed-width" href="/categories">Kategórie</button>
    </div>


    <script>
        // Custom JavaScript/jQuery to handle button clicks
        $(document).ready(function(){
            $(".btn-group-horizontal .btn").click(function(){
                // Remove 'fw-bold' class from all buttons
                $(".btn-group-horizontal .btn").removeClass("fw-bold");

                // Add 'fw-bold' class to the clicked button
                $(this).addClass("fw-bold");
            });
        });
    </script>
    <script type="text/javascript">
            document.getElementById("categories").onclick = function () {
                location.href = "/categories";
            };
            document.getElementById("check_in").onclick = function () {
                location.href = "/check_in";
            };
    </script>


    <div class="container mt-3">
        <h2>Check-in</h2>
        <from>
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Vyhľadať vedúceho výpravy" id="searchInput">
            </div>
            <h5>Zaškrtnite prítomných</h5>
            <ul class="list-group" id="itemList">
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">First checkbox</li>
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">Second checkbox</li>
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">Third checkbox</li>
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">Fourth checkbox</li>
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">Fifth checkbox</li>
            </ul>
            <p></p>
            <ul>
               <button class="btn btn-info btn-md float">Potvrdiť</button>
            </ul>
        </from>

    </div>

    <script>
    // Custom JavaScript for filtering items based on search input
    $(document).ready(function(){
        $("#searchInput").on("input", function() {
            var searchTerm = $(this).val().toLowerCase();

            $("#itemList li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1);
            });
        });
    });
</script>
</body>
{% endblock %}