{% extends 'base.html' %}
{% block title %}Robocup HOME{% endblock %}
{% block content %}
    <div>
        <p></p>
        <div class="btn-group-horizontal" role="group" aria-label="Button group">
            <button id="check_in"
                    type="button"
                    class="btn btn-info btn-fixed-width btn-dark"
                    onclick="fun_org(1)">Check-in</button>
            <button id="categories"
                    type="button"
                    class="btn btn-info btn-fixed-width"
                    onclick="fun_org(2)">Kategórie</button>
        </div>
        <script>
        jQuery(document).ready(function(){
            $(".btn-group-horizontal .btn").click(function(){
                $(".btn-group-horizontal .btn").removeClass("btn-dark");
                $(this).addClass("btn-dark");
            });
        });
        </script>
        <script>
    function fun_org(a) {
        if(a == 1){
            document.getElementById('category-div').setAttribute("class","container mt-3  visually-hidden")
            document.getElementById('check-in-div').setAttribute("class","container mt-3")
        }else{
            document.getElementById('category-div').setAttribute("class","container mt-3")
            document.getElementById('check-in-div').setAttribute("class","container mt-3  visually-hidden")
        }
    }
        </script>
    </div>
    {% include 'categories.html' %}
    <div id="check-in-div">
        <p></p>
        <div class="input-group mb-3 ">
            <h5>Vyhľadaj vedúceho výpravy</h5>
        </div>
        <div>
            <form method="post" action="{% url 'org-panel' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Search</button>
            </form>
            <div>
                <p></p>
            </div>
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Meno</th>
                        <th scope="col">Priezvisko</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Check-in</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ExpLeader in results %}
                        <tr>
                            <td>{{ ExpLeader.first_name }}</td>
                            <td>{{ ExpLeader.last_name }}</td>
                            <td>{{ ExpLeader.user.email }}</td>
                            <td>
                                <a href="{% url 'check-in' ExpLeader.user.id %}"><strong>Urob check-in</strong></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
{% endblock %}
