{% extends 'base.html' %} {% block title %}Robocup HOME{% endblock %}

{% block content %}


    <body>
    <p></p>
    <div class="btn-group-horizontal" role="group" aria-label="Button group">
        <button id="supervisors" type="button" class="btn btn-info btn-fixed-width btn-dark" onclick="fun(1)">Dozor</button>
        <button id="players" type="button" class="btn btn-info btn-fixed-width" onclick="fun(2)">Súťažiaci</button>
        <button id="teams" type="button" class="btn btn-info btn-fixed-width" onclick="fun(3)">Tímy</button>
    </div>

    <script>
    function fun(a) {
        if(a == 1){
            document.getElementById('dozor-div').setAttribute("class","container mt-5")
            document.getElementById('sutaziaci-div').setAttribute("class","container mt-5 visually-hidden")
            document.getElementById('timy-div').setAttribute("class","container mt-5 visually-hidden")
        }else if(a == 2){
            document.getElementById('dozor-div').setAttribute("class","container mt-5 visually-hidden")
            document.getElementById('sutaziaci-div').setAttribute("class","container mt-5")
            document.getElementById('timy-div').setAttribute("class","container mt-5 visually-hidden")
        }else if (a == 3){
            document.getElementById('dozor-div').setAttribute("class","container mt-5 visually-hidden")
            document.getElementById('sutaziaci-div').setAttribute("class","container mt-5 visually-hidden")
            document.getElementById('timy-div').setAttribute("class","container mt-5")
        }
    }
    </script>
    <script>
        // Custom JavaScript/jQuery to handle button clicks
        jQuery(document).ready(function(){
            $(".btn-group-horizontal .btn").click(function(){
                // Remove 'fw-bold' class from all buttons
                $(".btn-group-horizontal .btn").removeClass("btn-dark");

                // Add 'fw-bold' class to the clicked button
                $(this).addClass("btn-dark");
            });
        });
    </script>


{#    <div class="container mt-3" id="dozor-div">#}
{#        <h2>Dozor</h2>#}
{#        <form>#}
{#            <ul class="list-group" id="itemList">#}
{#                <li class="list-group-item"><strong>Meno</strong>Priezvisko</li>#}
{#                {% for supervisor in supervisors %}#}
{#                <li class="list-group-item">{{ supervisor.first_name}}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#            <p></p>#}
{#            <ul>#}
{#               <button id="supervisor_reg" type="button" class="btn btn-info btn-fixed-width" href="/supervisor_reg">Pridaj dozor</button>#}
{#            </ul>#}
{#        </form>#}
{#        #}
{#    </div>#}

    <div class="container mt-5 " id="dozor-div">
        <h2>Zaregistrovaný dozor</h2>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Meno</th>
                    <th>Priezvisko</th>
                    <th>E-mail</th>
                    <th>Tel. číslo</th>
                </tr>
            </thead>
            <tbody>
            {% for supervisor in supervisors %}
                <tr>
                    <td>{{ supervisor.first_name}}</td>
                    <td>{{ supervisor.last_name}}</td>
                    <td>{{ supervisor.email}}</td>
                    <td>{{ supervisor.phone_number}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p></p>
        <ul>
           <button id="supervisor_reg" type="button" class="btn btn-info btn-fixed-width" href="/supervisor_reg">Pridaj dozor</button>
        </ul>
    </div>

    <div class="container mt-5 visually-hidden" id="sutaziaci-div">
        <h2>Súťažiaci</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Meno</th>
                    <th>Priezvisko</th>
                    <th>E-mail</th>
                    <th>Tel. číslo</th>
                </tr>
            </thead>
            <tbody>
            {% for competitor in competitors %}
                <tr>
                    <td>{{ competitor.first_name}}</td>
                    <td>{{ competitor.last_name}}</td>
                    <td>{{ competitor.email}}</td>
                    <td>{{ competitor.phone_number}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p></p>
        <ul>
           <button id="competitor_reg" type="button" class="btn btn-info btn-fixed-width" href="/competitor_reg">Pridaj dozor</button>
        </ul>
    </div>

    <div class="container mt-3 visually-hidden" id="timy-div">
        <h2>Tímy</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Názov</th>
                    <th>Vedúci tímu</th>
                    <th>Organizácia</th>
                    <th>Súťažiaci</th>
                    <th>Kategórie</th>
                </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.team_name}}</td>
                    <td>{{ team.team_leader}}</td>
                    <td>{{ team.organization}}</td>
                    <td>{{ team.competitors}}</td>
                    <td>{{ team.categories}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p></p>
        <ul>
           <button id="team_assembly" type="button" class="btn btn-info btn-fixed-width" href="/team_assembly">Vytvor tím</button>
        </ul>
    </div>

    </body>
{% endblock %}