{% extends 'base.html' %} {% block title %}Robocup HOME{% endblock %}

{% block content %}

    <body>
<p></p>
    <div class="btn-group-horizontal" role="group" aria-label="Button group">
        <button id="supervisors" type="button" class="btn btn-info btn-fixed-width btn-dark" onclick="fun(1)">Dozor</button>
        <button id="players" type="button" class="btn btn-info btn-fixed-width" onclick="fun(2)">Súťažiaci</button>
        <button id="teams" type="button" class="btn btn-info btn-fixed-width" onclick="fun(3)">Tímy</button>
    </div>

    <script>
    function fun(a) {
        if(a==1){
            document.getElementById('dozor-div').setAttribute("class","container mt-3")
            document.getElementById('sutaziaci-div').setAttribute("class","container mt-3 visually-hidden")
            document.getElementById('timy-div').setAttribute("class","container mt-3 visually-hidden")
        }else if(a== 2){
            document.getElementById('dozor-div').setAttribute("class","container mt-3 visually-hidden")
            document.getElementById('sutaziaci-div').setAttribute("class","container mt-3")
            document.getElementById('timy-div').setAttribute("class","container mt-3 visually-hidden")
        }else if (a==3){
            document.getElementById('dozor-div').setAttribute("class","container mt-3 visually-hidden")
            document.getElementById('sutaziaci-div').setAttribute("class","container mt-3 visually-hidden")
            document.getElementById('timy-div').setAttribute("class","container mt-3")
        }
    }

    </script>
    <script>
        // Custom JavaScript/jQuery to handle button clicks
        jQuery(document).ready(function(){
            $(".btn-group-horizontal .btn").click(function(){
                // Remove 'fw-bold' class from all buttons
                $(".btn-group-horizontal .btn").removeClass("btn-dark");

                // Add 'fw-bold' class to the clicked button
                $(this).addClass("btn-dark");
            });
        });
    </script>


    <div class="container mt-3" id="dozor-div">
        <h2>Dozor</h2>
        <form>
            <ul class="list-group" id="itemList">
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="..."><strong>Meno</strong></li>
                {% for supervisor in supervisors %}
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">{{ supervisor.first_name}}</li>
                {% endfor %}
            </ul>
            <p></p>
            <ul>
               <button id="supervisor_reg" type="button" class="btn btn-info btn-fixed-width" href="/supervisor_reg">Pridaj dozor</button>
            </ul>
        </form>
    </div>

    <div class="container mt-3 visually-hidden" id="sutaziaci-div">
        <h2>Suťažiaci</h2>
        <form>
            <ul class="list-group" id="itemList">
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="..."><strong>Meno</strong></li>
                {% for competitor in competitors %}
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">{{ competitor.first_name}}</li>
                {% endfor %}
            </ul>
            <p></p>
            <ul>
               <button id="supervisor_reg" type="button" class="btn btn-info btn-fixed-width" href="/supervisor_reg">Pridaj dozor</button>
            </ul>
        </form>
    </div>

    <div class="container mt-3 visually-hidden" id="timy-div">
        <h2>Tímy</h2>
        <form>
            <ul class="list-group" id="itemList">
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="..."><strong>Meno</strong></li>
                {% for team in teams %}
                <li class="list-group-item"><input class="form-check-input me-1" type="checkbox" value="" aria-label="...">{{ team.team_name}}</li>
                {% endfor %}
            </ul>
            <p></p>
            <ul>
               <button id="supervisor_reg" type="button" class="btn btn-info btn-fixed-width" href="/supervisor_reg">Pridaj dozor</button>
            </ul>
        </form>
    </div>

    </body>
{% endblock %}