<div class="container mt-3" id="supervisor-div">
        <h2>Dozor</h2>
        <form>
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Meno</th>
                        <th scope="col">Priezvko</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tel. c</th>
                        <th scope="col">Dieta</th>
                        <th scope="col">Ubyt den 1</th>
                        <th scope="col">Ubyt den 2</th>
                        <th scope="col">Strava den 1</th>
                        <th scope="col">Strava den 2</th>
                        <th scope="col">Strava den 3</th>
                        <th scope="col">Zmazat</th>
                        <th scope="col">Edit</th>

                    </tr>
                </thead>
                {% for supervisor in supervisors %}
                <thead>
                    <tr>
                        <th scope="col">{{ supervisor.first_name}}</th>
                        <th scope="col">{{ supervisor.last_name}}</th>
                        <th scope="col">{{ supervisor.email}}</th>
                        <th scope="col">{{ supervisor.phone_number}}</th>
                        <th scope="col">{{ supervisor.diet}}</th>
                        <th scope="col">{{ supervisor.accomodation1}}</th>
                        <th scope="col">{{ supervisor.accomodation2}}</th>
                        <th scope="col">{{ supervisor.food1}}</th>
                        <th scope="col">{{ supervisor.food2}}</th>
                        <th scope="col">{{ supervisor.food3}}</th>
                        <th scope="col"><button type="button" class="btn btn-danger">Zmazat</button></th>
                        <th scope="col"><button type="button" class="btn btn-success">Edit</button></th>
                    </tr>
                </thead>
                {% endfor %}
            </table>


           <button id="supervisor_reg" type="button" class="btn btn-info btn-fixed-width" href="/supervisor_reg">Pridaj dozor</button>

        </form>

    </div>