<div class="container mt-3" id="supervisor-div">
    <h2>Dozor</h2>
    <form>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Meno</th>
                    <th scope="col">Priezvisko</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Tel. č</th>
                    <th scope="col">Diéta</th>
                    <th scope="col">Ubyt 1. deň</th>
                    <th scope="col">Ubyt 2. deň</th>
                    <th scope="col">Strava 1. deň</th>
                    <th scope="col">Strava 2. deň</th>
                    <th scope="col">Strava 3. deň</th>
                    <th scope="col">Zmazať</th>
                    <th scope="col">Úpraviť</th>
                </tr>
            </thead>
            {% for supervisor in supervisors %}
            <thead>
                <tr>
                    <th scope="col">{{ supervisor.first_name}}</th>
                    <th scope="col">{{ supervisor.last_name}}</th>
                    <th scope="col">{{ supervisor.email}}</th>
                    <th scope="col">{{ supervisor.phone_number}}</th>
                    <th scope="col">{{ supervisor.diet}}</th>
                    <th scope="col">{{ supervisor.accomodation1}}</th>
                    <th scope="col">{{ supervisor.accomodation2}}</th>
                    <th scope="col">{{ supervisor.food1}}</th>
                    <th scope="col">{{ supervisor.food2}}</th>
                    <th scope="col">{{ supervisor.food3}}</th>
                    <th scope="col"><button type="button" class="btn btn-danger">Zmazať</button></th>
                    <th scope="col"><button type="button" class="btn btn-success">Upraviť</button></th>
                </tr>
            </thead>
            {% endfor %}
        </table>
       <button id="supervisor_reg" type="button" class="btn btn-info btn-fixed-width" onclick="sup_fun(1)">Pridaj dozor</button>
    </form>
</div>

<div class="container mt-3 visually-hidden" id="supervisor_reg-div">
    <h2>Nový dozor</h2>
    <button id="supervisor_reg_submit" type="button" class="btn btn-info btn-fixed-width" onclick="sup_fun(2)">Pridať</button>
</div>

<script>
    function sup_fun(a) {
        if(a == 1){
            document.getElementById('supervisor-div').setAttribute("class","container mt-3 visually-hidden")
            document.getElementById('supervisor_reg-div').setAttribute("class","container mt-3")
        }else{
            document.getElementById('supervisor-div').setAttribute("class","container mt-3")
            document.getElementById('supervisor_reg-div').setAttribute("class","container mt-3 visually-hidden")
        }
    }
</script>